<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base}"
	th:with="menu='posts'">

<div layout:fragment="content" class="container my-4">
	<div class="row mb-3">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<i class="bi bi-pencil-square me-2"></i> 게시글 작성
				</div>
				<div class="card-body">
					<form class="border p-3" th:action="@{/posts/create}" method="post" novalidate
						th:object="${postCreateForm}" >
						<div class="mb-3">
							<label for="title" class="form-label">제목</label>
							<input type="text" class="form-control" 
								th:field="*{title}" 
								th:classappend="${validated} ? (${#fields.hasErrors('title')} ? 'is-invalid' : 'is-valid')"
								placeholder="게시글 제목을 입력하세요."/>
							<div class="invalid-feedback" 
								th:if="${#fields.hasErrors('title')}"
								th:errors="*{title}"></div>
						</div>
						<div class="mb-4">
							<label for="content" class="form-label">내용</label>
							<textarea class="form-control" 
								style="min-height: 300px;"
								th:field="*{content}" 
								th:classappend="${validated} ? (${#fields.hasErrors('content')} ? 'is-invalid' : 'is-valid')"placeholder="게시글 내용을 입력하세요."></textarea>
							<div class="invalid-feedback" 
								th:if="${#fields.hasErrors('content')}"
								th:errors="*{content}"></div>
							<div id="username" class="form-text">내용은 마크다운형식으로 작성하세요.</div>
						</div>
						
						<div class="d-grid gap-2 d-md-flex justify-content-md-end">
							<button type="submit" class="btn btn-primary btn-lg">
								<i class="bi bi-send-fill me-2"></i> 등록
							</button>
							<a th:href="@{/posts/list}" class="btn btn-secondary btn-lg">
								<i class="bi bi-x-circle-fill me-2"></i> 취소
							</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</html>