<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base}"
	th:with="menu='signup'">

<div layout:fragment="content" class="container my-4">
	<div class="row mb-3">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					회원가입 완료
				</div>
				<div class="card-body">
					<p class="card-text">
						<span th:text="${username}">사용자</span>님, 회원가입이 완료되었습니다.<br>
							이제 로그인을 통해 모든 기능을 이용하실 수 있습니다.
					</p>
					<div class="d-grid gap-2 d-md-flex justify-content-md-center">
						<a th:href="@{/login}" class="btn btn-success btn-lg ">로그인</a>
						<a th:href="@{/}" class="btn btn-outline-secondary btn-lg ">메인</a>
					</div>
				</div>
			</div>			
		</div>
	</div>
</div>
</html>
