<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base}">

<div layout:fragment="content" class="container my-4">
	<div class="row mb-3">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					에러 발생
				</div>
				<div class="card-body">
			        <p class="display-4">상태 코드 : <span class="text-danger" th:text="${errorCode}"></span></p>
			        <p >오류 메세지 : <span class="error-message" th:utext="${errorMessage}"></span></p>
			        <div>
			            <a th:href="@{/}" class="btn btn-primary">홈으로 이동</a>
			            <button onclick="history.back()" class="btn btn-outline-secondary">이전 페이지로</button>
			            <button th:if="${errorCode == '500'}" onclick="location.reload()" class="btn btn-outline-secondary">다시 시도</button>
			        </div>				
				</div>
			</div>
		</div>
	</div>
</div>
</html>
