<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/base}"
      th:with="menu='signup'">

<div layout:fragment="content" class="container my-4">
	<div class="row mb-3">
	    <div class="col-12">
	    	<div class="card">
	    		<div class="card-header">
					회원가입   		
	    		</div>
	    		<div class="card-body">
			        <form class="border p-3" th:action="@{/signup}" method="post" novalidate="novalidate" th:object="${signupForm}">
			            <div class="mb-3">
			                <label for="username" class="form-label"><span class="text-danger">*</span> 아이디</label>
			                <input type="text" class="form-control" 
								th:field="*{username}"
								th:classappend="${validated} ? (${#fields.hasErrors('username')} ? 'is-invalid' : 'is-valid')"
								placeholder="아이디를 입력하세요"/>
			                <div class="invalid-feedback" 
								th:if="${#fields.hasErrors('username')}"
								th:errors="*{username}"></div>
			            </div>
			            <div class="mb-3">
			                <label for="password" class="form-label"><span class="text-danger">*</span> 비밀번호</label>
			                <input type="password" class="form-control" 
								th:field="*{password}" 
								th:classappend="${validated} ? (${#fields.hasErrors('password')} ? 'is-invalid' : 'is-valid')"
								placeholder="비밀번호를 입력하세요">
			                <div class="invalid-feedback" 
								th:if="${#fields.hasErrors('password')}"
								th:errors="*{password}"></div>
			            </div>
			            <div class="mb-3">
			                <label for="password" class="form-label"><span class="text-danger">*</span> 이메일</label>
			                <input type="email" class="form-control" 
								th:field="*{email}" 
								th:classappend="${validated} ? (${#fields.hasErrors('email')} ? 'is-invalid' : 'is-valid')"
								placeholder="이메일을 입력하세요">
			                <div class="invalid-feedback" 
								th:if="${#fields.hasErrors('email')}"
								th:errors="*{email}"></div>
			            </div>
			            <div class="mb-3">
			                <label for="password" class="form-label">이름</label>
			                <input type="text" class="form-control" 
								th:field="*{nickname}" 
								th:classappend="${validated} ? (${#fields.hasErrors('nickname')} ? 'is-invalid' : 'is-valid')"
								placeholder="이름을 입력하세요">
			                <div class="invalid-feedback" 
								th:if="${#fields.hasErrors('nickname')}"
								th:errors="*{nickname}"></div>
			            </div>
			            <div class="mb-3">
			                <label for="password" class="form-label">전화번호</label>
			                <input type="text" class="form-control" 
								th:field="*{tel}" 
								th:classappend="${validated} ? (${#fields.hasErrors('tel')} ? 'is-invalid' : 'is-valid')"
								placeholder="전화번호를 입력하세요">
			                <div class="invalid-feedback" 
								th:if="${#fields.hasErrors('tel')}"
								th:errors="*{tel}"></div>
			            </div>
			            <button type="submit" class="btn btn-primary w-100 mb-3">회원가입</button>
			            <a th:href="@{/login}" class="btn btn-outline-secondary w-100 mb-3">로그인</a>
			        </form>
	    		</div>
	    	</div>
	    </div>
	</div>
</div>
</html>